<!--header menu-->

<div>

  <div class="ui borderless blue menu">

      <a href="http://www.ggled.net"><img class="ui small image" src="http://www.empireltg.com/uploads/2/6/0/1/26016310/gg-led-logo_1_orig.jpg" ></a>
      <a class="item" href="http://www.ggled.net/wpx-waterproof-led-light/">PRODUCTS</a>
      <a class="item" href="http://www.ggled.net/contact/">CONTACT US</a>

  </div>

<!--body-->

</div>

<div class="ui container">
        {{outlet}}
</div>
